In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
df = pd.read_csv("051.csv")
df.head()

,lat,lon,alt,height,heading,pitch,roll,time,co2,tvoc,pm25,pm10,temperature,humidity
0,24.807466,121.042053,51.911553,0.0,-133.5,0.0,0,20210518105246,785,214,32,39,33.3,64.3
1,24.807466,121.042053,51.911553,0.0,-133.5,0.0,0,20210518105247,0,0,0,0,0.0,0.0
2,24.807466,121.042053,51.911553,0.0,-133.5,0.0,0,20210518105248,754,197,32,39,33.3,63.8
3,24.807467,121.042053,51.911553,0.0,-133.5,0.0,0,20210518105249,0,0,0,0,0.0,0.0
4,24.807467,121.042053,51.911553,0.0,-133.5,0.0,0,20210518105250,743,191,32,39,33.3,63.6

In [5]:
df.describe()

,lat,lon,alt,height,heading,pitch,roll,time,co2,tvoc,pm25,pm10,temperature,humidity
count,3445.000000,3445.000000,3445.000000,3445.000000,3445.000000,3445.000000,3445.0,3.445000e+03,3445.000000,3445.000000,3445.000000,3445.000000,3445.000000,3445.000000
mean,24.807654,121.041968,85.490369,33.884901,-6.073626,-52.153497,0.0,2.021052e+13,213.185776,12.240348,18.209579,22.463861,14.815762,33.562409
std,0.001003,0.000628,34.145397,34.181399,102.208909,11.935065,0.0,2.653386e+03,233.374355,40.907700,19.297481,23.815936,15.685155,35.176897
min,24.805494,121.040278,50.737624,-0.442857,-175.775000,-89.925000,0.0,2.021052e+13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,24.807417,121.041692,51.911553,0.000000,-77.575000,-55.000000,0.0,2.021052e+13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,24.807446,121.042088,70.567981,18.966667,6.400000,-55.000000,0.0,2.021052e+13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,24.807929,121.042321,106.451909,55.266667,103.087500,-55.000000,0.0,2.021052e+13,423.000000,13.000000,38.000000,47.000000,30.400000,70.800000
max,24.810198,121.043024,147.315130,95.425001,172.500000,0.000000,0.0,2.021052e+13,1220.000000,456.000000,54.000000,67.000000,130.900000,100.900000

In [10]:
#choose data
df_lon, df_lat, df_alt = (df['lon'].values,
                 df['lat'].values,
                 df['alt'].values)
# cube = [lon lat alt]
lat, lon, alt = np.meshgrid(df_lat, df_lon, df_alt, sparse=True)
print(lon.shape,lat.shape,alt.shape)
#cube = lon+lat+alt
cube = lon+lat+alt
#print(cube)

KeyboardInterrupt